<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.henrydef">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".U1.conver1"
            android:exported="false" />
        <activity
            android:name=".U4.U4C3"
            android:exported="false" />
        <activity
            android:name=".U4.U4C2"
            android:exported="false" />
        <activity
            android:name=".U4.U4C1"
            android:exported="false" />
        <activity
            android:name=".U5.U5C3"
            android:exported="false" />
        <activity
            android:name=".U5.U5C2"
            android:exported="false" />
        <activity
            android:name=".U5.U5C1"
            android:exported="false" />
        <activity
            android:name=".U2.U2C3"
            android:exported="false" />
        <activity
            android:name=".U2.U2C2"
            android:exported="false" />
        <activity
            android:name=".U2.U2C1"
            android:exported="false" />
        <activity
            android:name=".U3.U3C3"
            android:exported="false" />
        <activity
            android:name=".U3.U3C2"
            android:exported="false" />
        <activity
            android:name=".U3.U3C1"
            android:exported="false" />
        <activity
            android:name=".U1.conver3"
            android:exported="false" />
        <activity
            android:name=".U1.conver2"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>